# Feature Engineering

Three Steps 
+ Feature Stransformation (Transform the original feature)
+ Feature Selection (Selecting The most usefull feature to train on)
+ Feature Extraction (Combining existing feature to produce more useful ones)

# Feature Transformation 
+ With catagorical data 
  + One hot encoding
  + Label Encoding
+ Date time Transformation 
+ Feature Selection 
+ Feature Extraction using principle component

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import plotly.express as px # visualize the data 
import sklearn as sk
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

#### For this lab we will be using airline_data the data set contains the prices of the tickets for various airline between the months of the march and june of 2019 and between various cities. this dataset is often used for prediction analysis of the flight prices which are influenced by by prevoius factors, such as name of the airline, date of the journey

In [7]:
# Path initialization 
Path= 'Dataset/airlines_data.xlsx'

In [ ]:
airlines= pd.read_excel(Path)

In [ ]:
airlines.info()
# Most of the data are categorical dataset here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [ ]:
airlines.describe() 
#only price variable just shown statistical dataset in this file

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [25]:
# null values 
airlines.isnull().sum()
airlines.fillna(method= 'ffill', inplace= True) # Fill NA/NaN values by propagating the last valid observation to next valid.
airlines.isnull().sum()

/var/folders/kx/t7xsn3md0wxf_6_gg_5dqyrm0000gn/T/ipykernel_26827/3102772671.py:3: FutureWarning:

DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

Feature Transformation: Besically transforming out feature to the function of the original feature. 
+ encoding, scaling, discretization(The process of transforming continuous variable into discrete form, by creating bins or intervals)


Dealing with categorical Variables 
Categorical variables represent qualitative data with no apparent inherent mathematical means. there, for any machine learning analysis, all the categorical data must be transformed into the numerical datatypes.

In [128]:
# the dataset Airlines have airlines column so we change the name 
dataset= airlines
dataset['Airline'].unique()


#dataset.sample(n=5, replace= True)

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Jet Airways Business', 'Multiple carriers Premium economy',
       'Trujet'], dtype=object)

In [134]:

listed =dataset['Airline'].unique().tolist()
listed
dataset['Airline']
#dataset['Airline']= np.where(dataset['Airline']== 'Vistara Premium economy', 'Vistara', dataset['Airline'])

dataset['Airline']= np.where(dataset['Airline']== 'Jet Airways Business', 'Jet Airways', dataset['Airline'])
dataset['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)